<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        a {
            height: 40px;
            width: 100px;
        }

        input {
            width: 300px !important;
        }

        .pageBtn{
            width: 3rem;
            border-radius: 7px;
        }

        .example{
            text-align: right;
        }
    </style>


</head>
<body>
    <div class="container">
        <h1 style="text-align: center">Task List</h1>

        <div class="row align-items-start">
            <div class="col">
                <a href="#" class="btn btn-secondary">Export CSV</a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-primary">Tạo mới</a>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="input1" placeholder="Tìm kiếm">
            </div>
            <div class="col">
                <a href="#" class="btn btn-primary">Tìm kiếm</a>
            </div>
            <div class="col">
                <select class="custom-select" aria-label="Default select example">
                    <option selected>Open</option>
                    <option value="1">Inprogress</option>
                    <option value="2">Done</option>
                    <option value="3">All</option>
                </select>
            </div>
        </div>

        <br>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th  scope="col">ID</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody th:each="listtask : ${show}">
                <tr class="text-center">
                    <th scope="row" th:text="${listtask.listID}"></th>
                    <td th:text="${listtask.title}"></td>
                    <td th:text="${listtask.status}"></td>
                    <td>
                        <a href="#" class="btn btn-primary">Chỉnh sửa</a>
                        <a href="#" class="btn btn-primary">Chi tiết</a>
                        <a href="#" class="btn btn-danger">Xoá</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>

        <div class="example">
            <nav aria-label="Page navigation">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="btn btn-secondary pageBtn" th:if="${currentPage != i}" th:href="@{'/tasklist/page/' + ${i}}">[[${i}]]</a>
                    <span class="btn btn-primary pageBtn" th:unless="${currentPage != i}">[[${i}]]</span>
                </span>
            </nav>
        </div>
    </div>

</body>
</html>
